[submodule "netput"]
	path = netput
	url = https://github.com/johnpatek/netput
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "sigfn"]
	path = sigfn
	url = https://github.com/johnpatek/sigfn
